@charset "utf-8";
/* CSS Document */

/* additional css for this theme */

body{
    color: #474747;
	background:#EEE;
}
h1{
    font-size: 50px;
	margin:0 0 40px 0;
    color: #D6D6D6;
	text-shadow: 0 2px 0px #FFF;
	text-transform: uppercase;
	font-family: 'Monoton', cursive;
	font-weight:bold;
}
a{
	color:#006AB1;
	text-decoration:none;
	text-shadow: 0 2px 0px #FFF;
}
a:hover{
	color:#A42988;	
}
h2{
    font-size: 20px;
    color: #616156;
}
#main{
    padding-top:20px;
	background:#EEE;
}
#main, #footer, #copyright{
    float:left;
    width: 100%;
}
.wrapper{
	position:relative;
    width:950px;
    margin-left: auto;
    margin-right: auto;
}
#sidebar{
    width:300px;
    float:left;
}
.sidebar-title{
	position:relative;
    background:#BBB;
}
.sidebar-content{
    background: #D6D6D6;
	border-bottom: 1px solid #FFF;
	margin-bottom:10px;
}
.sidebar-content div{
    font-size: 12px;
}
.sidebar-content li{
    background-position: top left;
    list-style: none;
    padding-bottom: 10px;
}
.sidebar-title, .sidebar-content{
    width: 100%;
    padding: 25px;
}
#content{
    width:600px;
    float:left;
    margin-left: 50px;
	margin-top:5px;
}
#profile, #twitter, #music, #flickr{
    width:250px;
    margin: 5px;
}
#profile{
    background-color: #D6D6D6;
    min-height:100px;
    padding: 25px;
	border-bottom: 1px solid #FFF;
}
#profile h2{
	color:#474747;
	text-shadow: #FFF 0 1px 0;
}
#profile img{	
    float:left;
    margin-right: 10px;
}
.img_wrapper, .article-body img, #flickr img{
    padding: 5px;
    background-color: #D6D6D6;
    border: 1px solid #FFF;
}
.article-body p, .article-body img{
	margin-top:15px;
	margin-bottom:15px;
}
#profile p{
    font-style: normal;
    font-size: 10px;
    line-height: 150%;
    margin-bottom: 1em;
}
#flickr img{
	margin:3px;
}
#flickr li{
	float:left;
}
#flickr div{
	overflow:hidden;
}
#flickr a{
	border-bottom:none;
}
.article-header{
    height: 60px;
	position:relative;
}
.article-header a{
	border-bottom:none;
}
.article-header h2{
    border-top: 1px solid #D6D6D6;
    min-height: 30px;
    font-size: 18px;
    padding: 20px 0px 10px 0;
    line-height: 105%;
	width:491px;
    float:left;
    color: #F6F7ED;
    font: Helvetica, Arial, san-serif;
	font-weight:bold;
    font-size: 20px;
}
.article-header .date{
    text-transform: uppercase;
	text-shadow: #FFF 0 2px 0;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
	right:0;
    padding: 0px 0px 8px 8px;
    position:absolute;
	color:#979797;
	width:100px;
}
article .article-header .date .day{
	border-right: 1px solid #D6D6D6;
	font-size: 33px;
	font-weight: bold;
	float: left;
	padding: 0px 10px 0px 0;
	margin: 0 10px 0 0;
}
article .article-header .date .month{
	display:block;
	float:left;
	font-weight:bold;
	font-size:16px;
	width:32px;
	line-height:100%;
	padding:4px 0px 0px 0px;
}
article .article-header .date .year{
	display:block;
	font-size:10px;
	float:left;
	line-height:100%;
	width:32px;
	letter-spacing: 3px;
}
.article-author{
	font-size:12px;
	height:20px;
	padding:10px;
	margin-bottom:20px;
	position:relative;
	background-color:#D6D6D6;
	border-bottom:1px solid #FFF;
}
.article-body ul, .article-body ol{
	margin:40px;
}
article p{
    width:550px;
}
article .article-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D6D6D6;
    border-bottom: 1px solid #FFF;
    position: relative;
    padding: 10px;
    height: 20px;
}
article .article-footer h3{
    float: left;
    color: #58584F;
    text-shadow: #FFF 0 1px 0;
	padding-right: 10px
}
article .article-footer ul{
    padding-left: 10px;
    list-style: none;
    float: left;
}
article .article-footer li{
    float: left;
    padding-left: 10px;
}
article .article-footer li a{
    color: #DCDDCF;
}
article .article-footer li a:hover{
    color: #BBE9ED;
    cursor: pointer;
}
#footer{
	position:relative;
    width:100%;
    background-color: #D6D6D6;
}
#footer .searchKeyword{
	padding:5px 6px;
	margin-right:5px;
	font-size:13px;
	width:160px;
	border-bottom: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-top:none;
	border-left:none;
	background-color: #EEE;
}
#footer .searchButton{
	vertical-align:top;
	padding-top:1px;
	cursor:pointer;
}
#copyright{
    width:100%;
    height:40px;
    background-color: #BBB;
}
#copyright div{
    color: #EEE;
    font-size: 12px;
    padding-top: 7px;
}