@charset "utf-8";
/* CSS Document */

/* additional css for this theme */

body{
    color: #D3D2C4;
    background-color: #68685E;
}
h1{
    font-size: 50px;
    color: #616156;
}
a{
	color:#F6F7ED;
	padding-bottom:1px;
	border-bottom:1px solid #8D8E7F;
	text-decoration:none;
}
a:hover{
	color:#BBE9ED;	
}
h2{
    font-size: 20px;
    color: #616156;
}
#main{
    padding-top:20px;
    background: #818176;
}
#main, #footer, #copyright{
    float:left;
    width: 100%;
}
.wrapper{
	position:relative;
    width:950px;
    margin-left: auto;
    margin-right: auto;
}
#sidebar{
    width:300px;
    float:left;
}
.sidebar-title{
	position:relative;
    background: url("../images/sidebar-title.jpg") repeat-x;
}
.sidebar-content{
    background: #7A7A6F url("../images/bg-gradient.gif") repeat-x top;
	border-bottom: 1px solid #A2A292;
	margin-bottom:10px;
}
.sidebar-content div{
    font-size: 12px;
}
.sidebar-content li{
    background-position: top left;
    list-style: none;
    padding-bottom: 10px;
}
.sidebar-title, .sidebar-content{
    width: 100%;
    padding: 25px;
}
#content{
    width:600px;
    float:left;
    margin-left: 50px;
	margin-top:5px;
}
#content h1{
	font-family: 'Monoton', cursive;
	opacity:0.4;
}
#profile, #twitter, #music, #flickr{
    width:250px;
    margin: 5px;
}
#profile{
    background-color: #7A7A6F;
    min-height:100px;
    padding: 25px;
	border-bottom: 1px solid #A2A292;
}
#profile h2{
	color:#58584F;
	text-shadow: #909083 0 1px 0;
}
#profile img{	
    float:left;
    margin-right: 10px;
}
.img_wrapper, .article-body img, #flickr img{
    padding: 5px;
    background-color: #6A6A5E;
    border: 1px solid #8B8B7D;
}
.article-body p, .article-body img{
	margin-top:15px;
	margin-bottom:15px;
}
#profile p{
    font-style: normal;
    font-size: 10px;
    line-height: 150%;
    margin-bottom: 1em;
}
#flickr img{
	margin:3px;
}
#flickr li{
	float:left;
}
#flickr div{
	overflow:hidden;
}
#flickr a{
	border-bottom:none;
}
.article-header{
    height: 72px;
	position:relative;
}
.article-header a{
	border-bottom:none;
}
.article-header h2{
    border-top: 1px solid #A1A293;
    min-height: 30px;
    font-size: 18px;
    padding: 31px 105px 10px 0;
    line-height: 105%;
	width:450px;
    float:left;
    color: #F6F7ED;
    font: Helvetica, Arial, san-serif;
	font-weight:bold;
    font-size: 20px;
}
.article-header h2:hover{
	color:#BBE9ED;
	cursor:pointer;
}
.article-header .date{
    text-transform: uppercase;
    border-top: 1px solid #818176;
    border-bottom: 1px solid #A1A293;
    border-left: 1px solid #A1A293;
	right:0;
    padding: 0px 0px 8px 8px;
    position:absolute;
	color:#B6B7AA;
	width:100px;
}
article .article-header .date .day{
	border-right: 1px solid #A1A293;
	text-shadow: #7C7C70 0 1px 0;
	font-size: 28px;
	font-weight: bold;
	float: left;
	padding: 0px 10px 0px 0;
	margin: 0 10px 0 0;
}
article .article-header .date .month{
	display:block;
	float:left;
	font-weight:bold;
	font-size:16px;
	width:32px;
	line-height:100%;
	padding:4px 0px 0px 0px;
}
article .article-header .date .year{
	display:block;
	font-size:10px;
	float:left;
	line-height:100%;
	width:32px;
}
article p{
    width:550px;
    font-size: 12px;
}
article .article-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #77776C;
    border-bottom: 1px solid #9A9A8D;
    position: relative;
    padding: 10px;
    height: 20px;
}
article .article-footer h3{
    float: left;
    color: #58584F;
    text-shadow: #909083 0 1px 0;
	padding-right: 10px
}
article .article-footer ul{
    padding-left: 10px;
    list-style: none;
    float: left;
}
article .article-footer li{
    float: left;
    padding-left: 10px;
}
article .article-footer li a{
    color: #DCDDCF;
}
article .article-footer li a:hover{
    color: #BBE9ED;
    cursor: pointer;
}
#footer{
	position:relative;
    width:100%;
    background-color: #727268;
}
#footer .searchKeyword{
	padding:5px 6px;
	margin-right:5px;
	font-size:11px;
	width:175px;
	border-bottom: 1px solid #A2A292;
	border-right: 1px solid #A2A292;
	border-top:none;
	border-left:none;
	background-color: #838375;
}
#footer .searchButton{
	vertical-align:top;
	padding-top:1px;
	cursor:pointer;
}
#copyright{
    width:100%;
    height:40px;
    background-color: #68685E;
}
#copyright div{
    color: #A09F91;
    font-size: 12px;
    padding-top: 7px;
}