html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: baseline;
	font-size:15px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}
/* Hack retained to preserve specificity */
select, input, textarea, button {
    font: 99% sans-serif;
}
/* Always force a scrollbar in non-IE */
html {
    overflow-y: scroll;
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
#sidebar a{
    color: #006AB1;
	text-decoration:none;
	text-shadow: 0 1px 0px #FFF;
}
#sidebar a:hover{
    color: #999;
}

ul, ol {
    margin-left: 0px;
}

ol {
    list-style-type: decimal;
}